body {
  background: #66d552;
  min-height: 100vh;
}

#contactList .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.delete-btn {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}
